%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{lib_dirs, ["deps"]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
        {lhttpc, ".*", {git, "git://github.com/oscarh/lhttpc.git", {branch, "master"}}}
       ]}.

{require_otp_vsn, "R14"}.

{erl_opts, [
            fail_on_warning,
            debug_info,
            %%warn_missing_spec,
            {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{validate_app_modules, false}.

{sub_dirs, ["src"]}.
